<p id="notice"><%= notice %></p>

<p>
  <strong>Tipodeconta:</strong>
  <%= @tipo_de_contum.tipoDeConta %>
</p>

<%= link_to 'Edit', edit_tipo_de_contum_path(@tipo_de_contum) %> |
<%= link_to 'Back', tipo_de_conta_path %>
